/* Container for the play button. Provides positioning*/
.playButtonContainer {
    position: relative;
    width: 100%;
    height: 50px;
    top:-30%;
    text-align: center;
    margin: 0 auto;
    font-size: 3em;
    transistion: all .5s ease;
}

#playButton:hover {
  cursor:pointer;
}

/* Shape */
#playTriangle {
       margin: 3px 11px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 15px solid black;
    border-bottom: 8px solid transparent;
}
/* Shape */
#playCircle{
    margin:-28px auto 0 auto;
 background-color: rgba(0, 0, 0, 0);
 border: 2px solid #000;
 height: 30px;
 width: 30px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
}
/* Play button shape */
.playButton {
    margin:50px auto 0 auto;
    width: 30px;
  transistion: all .5s ease;
}

#playCircle:hover {
    border: 2px dotted #000;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 

.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

